@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  font-family: "Inter", sans-serif !important;
}

:root {
  --primary-black: #2a2a2c;
  --primary-gray: #ececec;
  --primary-blue: #5da2d5;
  --primary-yellow: #fcd250;
  --primary-pink: #f78888;
  --secondary-blue: #90ccf4;
  --secondary-black: rgba(225, 225, 225, 0);
}

/**** NAVBAR SECTION ****/

nav {
  z-index: 2;
}

.navbar {
  background-color: var(--primary-gray);
  padding: 0.5% !important;
}

/*navbar links*/
nav a.nav-link {
  font-size: 20px;
}

.navbar-nav > li > a {
  margin-left: 0.75;
  margin-right: 0.75;
  color: var(--primary-black) !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-pink);
}

.navbar-brand {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

/**** HEADER SECTION ****/

img.banner {
  width: -webkit-fill-available !important;
}

/*particles in header*/
.tsparticles-canvas-el {
  position: absolute;
  height: 60vh;
  width: 60vw;
  z-index: 1;
}

@media (max-width: 768px) {
  .particles-board {
    display: none;
  }
}

/**** ABOUT ME SECTION ****/

main {
  background: var(--primary-blue) !important;
}

.profilepic {
  width: 80%;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1 px solid --primary-yellow;
}

h2.about-heading {
  padding-bottom: 2%;
  font-weight: bold;
}

p {
  font-size: 20px;
}

div#column2 {
  padding-top: 8%;
}

@media (max-width: 768px) {
  .profilepic {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .photo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .about-heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .about-intro {
    text-align: center;
    font-size: 15px;
  }
}

/***** PORTFOLIO *****/

#heading {
  font-weight: bold;
  color: black;
}

.portfolio-wrapper {
  background: var(--primary-gray);
  padding: 1rem 0;
}

.portfolio-image {
  width: 25rem !important;
  padding: .15rem;
  border: solid 5px var(--primary-blue);
}

.portfolio-image-box {
  position: relative !important;
  margin: 1rem;
}

.py-5 {
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
}

.image-container {
    text-align: -webkit-center;
}

.figure {
    padding: .75rem;
}

p.portfolio-text {
    font-size: 16px;
    font-weight: bold;
    padding-top: .75rem;
}

.figure a {
    color: #2e8ed8 !important;
    font-size: 14px;
    font-weight: 200;
}

@media(max-width: 768px) {
    .portfolio-image {
        width: 20rem !important;
    }
}

@media (max-width: 280px) {
  .portfolio-image {
    width: 14rem !important;
  }
}

@media (min-width: 768px) {
    .portfolio-image#libro-fy {
        height: 24vh;
    }
}